/* basic setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansLight';
    background-color: #f3f3f3;
}

#main {
    border-radius: 12px;
    width: 100%;
    background-color: white;
    padding: 30px;
}

#post_title {
    font-family: 'GmarketSansMedium';
    font-size: 20pt;
    margin-bottom: 5px;
}

table {
    width: 60%;
    margin-left: auto; 
    margin-right: auto;
    padding: 20px 0px;
    border-spacing: 0 20px;
}

#date, #place {
    font-size:12pt;
    margin-bottom:5px;
}

#post_img {
    background-color: #f3f3f3;
    width: 100%;
    height:300px;
    text-align: center;
    line-height: 300px;
    margin-top:30px;
    margin-bottom:30px;
}

#post_text {
    text-align: center;
    line-height: 20pt;
    font-size:13pt;
    margin-bottom:30px;
}

ul li {
    display: inline;
}

#line {
    background-color: #205A8F;
    width: 40%;
    height:2px;
    margin:0 auto;
    margin-bottom: 10px;
}

#user_img {
    background-color: #f3f3f3;
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom:10px;
}

#post_user {
    text-align: center;
}