/* basic setting (웹브라우저 기본 여백 제거) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* main */
#main {
    width: 100%;
    font-family: 'GmarketSansMedium';
}

#header-content {
    height: 90vh;
    clear: both;
    background-image: url('../../image/main-back.png');
    background-size: 100% 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}

#txt-box {
    margin: auto;
    margin-top: 45vh;
    float: left;
}

#txt-box span:first-child {
    font-family: 'GmarketSansMedium';
    color:#205A8F;
    font-size: 35px;
    font-weight: 300;
}

#txt-box span:last-child {
    font-family: 'GmarketSansMedium';
    color: #575757;
    font-size: 30px;
}

#header-content img {
    margin-top: 20vh;
    width: 450px;
    float: right;
}

#main-content {
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    margin : 10vh 10vw 10vh 10vw;
}

#mypage_logo {
    margin-top: 5pt;
}

.mc-1, .mc-2 {
    margin: 0 0 5vh 0;
}

.count {
    color:#393939;
    font-size: 22pt;
    font-weight: bold;
}

.content-area {
    display: inline-block;
}

.content-area img {
    width: 300px;
}

.mc-txt-box {
    float: right;
    text-align: left;
}

.title {
    color:#393939;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    color: #393939;
    font-size: 12pt;
}

.mc-2 {
    float: right;
}

.mc-2 .mc-txt-box {
    float:left;
}

.mc-2 .count{
    text-align: right;
}

.mc-2 .content {
    text-align: right;
}

.mc-2 .title {
    text-align: right;
}

.mc-3 {
    clear:both;
}


#line {
    display: inline-block;
    background-color: #205A8F;
    height: 5px;
    width: 30%;
    margin-bottom: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

