/* basic setting (웹브라우저 기본 여백 제거) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#header {
    z-index: 3; 
    position: fixed;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    height: 4rem;
    background-color: #205A8F;
    font-family: 'GmarketSansLight';
    font-size: 15pt;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mypage_logo {
    -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(143, 136, 136));
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
    display: block;
    margin: 0 auto;
    width: 40px;
    color: #205A8F;
}

/* #mypage > #mypage_logo {
    position: absolute;
    width: 20px;
    height: 100%; */
    /* top: 50%; */
    /* left: 50px; */
    
    /* transform: translate(-50%, -50%);
}
*/

#header ul {
    display: flex;
}

#search {
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    border: 0;

}

#logo {
    height: 50px;
}

#search:focus {
    outline: none;
    padding: 9px;
    border: 1px solid #FFD23B;
}

ul li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: white
}

.highlight {
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    font-size: 20px;
}

#nav-box li:hover:not(.active) {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -10px 0 #fcd121;
}

#nav-box li:active:not(.active) {
    color: #000000;
    text-decoration: none;
}

/* header 위치 조정 */
#logo-box {
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
}

#nav-box {
    position: relative;
    margin-inline-end: auto;
    margin-left: 20px;
}

#signup-box {
    margin-left: 20px;
    margin-right: 20px;
}

#input-box {
    position: relative;
}

#input-box i {
    position: absolute;
    top: 10px;
    left: 220px;
    color: gray;
    align-items: center;
}

.trigger {
    border: 0px;
    outline: 0px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'GmarketSansLight';
    color: white;
    background-color: #205A8F;
}

/* main */
#main {
    width: 100%;
    font-family: 'GmarketSansMedium';
}

#header-content {
    height: 90vh;
    clear: both;
    background-image: url('../../image/main-back.png');
    background-size: 100% 100%;
    padding-left: 10vw;
    padding-right: 10vw;
}

#txt-box {
    margin: auto;
    margin-top: 45vh;
    float: left;
}

#txt-box span:first-child {
    font-family: 'GmarketSansMedium';
    color:#205A8F;
    font-size: 35px;
    font-weight: 300;
}

#txt-box span:last-child {
    font-family: 'GmarketSansMedium';
    color: #575757;
    font-size: 30px;
}

#header-content img {
    margin-top: 20vh;
    width: 450px;
    float: right;
}

#main-content {
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    margin : 10vh 10vw 10vh 10vw;
}

.mc-1, .mc-2 {
    margin: 0 0 5vh 0;
}

.count {
    color:#393939;
    font-size: 22pt;
    font-weight: bold;
}

.content-area {
    display: inline-block;
}

.content-area img {
    width: 300px;
}

.mc-txt-box {
    float: right;
    text-align: left;
}

.title {
    color:#393939;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    color: #393939;
    font-size: 12pt;
}

.mc-2 {
    float: right;
}

.mc-2 .mc-txt-box {
    float:left;
}

.mc-2 .count{
    text-align: right;
}

.mc-2 .content {
    text-align: right;
}

.mc-2 .title {
    text-align: right;
}

.mc-3 {
    clear:both;
}


#line {
    display: inline-block;
    background-color: #205A8F;
    height: 5px;
    width: 30%;
    margin-bottom: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
#footer {
    background-color: #575757;
    height: 100px;
    width: 100%;
    align-items: center;
    clear: both;

}

#footer img {
    width: 100px;
    margin-top: 25px;
    margin-left: 50px;
}

#footer p {
    color: white;
    font-family: 'GmarketSansLight';
    float: right;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 50px;
}