body {
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom:5vh;
}

h3{
    color: #205A8F;
}

main {
    height: 90vh;
}

#nav-ul {
    padding:0px;
}

#edit{
    color: #205A8F;
    position: relative;
    top: 20px;
    left:120px;
}

#circle {
    position: relative;
    width: 200px;
    height: 200px;
    top:15px;
    left: 50px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

#account{
    /* color: #205A8F; */
    position: relative;
    /* top: 20px; */
    bottom: 100px;
    left:120px;
}

#login {
    position: relative;
    width: 300px;
    height: 30px;
    left: 120px;
    bottom: 45px;
    border-radius: 10px;
    background-color: #c0c0c0;
}

#myself {
    position: relative;
    width: 300px;
    height: 30px;
    left: 120px;
    bottom: 45px;
    border-radius: 10px;
    background-color: #c0c0c0;
}

#schoolNumber {
    position: relative;
    width: 150px;
    height: 30px;
    left: 120px;
    bottom: 45px;
    border-radius: 10px;
    background-color: #c0c0c0;
}

#name {
    position: relative;
    width: 150px;
    height: 30px;
    left: 120px;
    bottom: 45px;
    border-radius: 10px;
    background-color: #c0c0c0;
}

#profile{
    /* color: #205A8F; */
    position: relative;
    /* top: 20px; */
    bottom: 100px;
    left:120px;
}

.box {
    position: relative;
    left: 600px;
    bottom: 165px;
    padding: 20px;
}

.pull {
    position: relative;
    margin: 50px;
    padding: 20px;
    width: 300px;
    height: 60px;
    color: #FFF;
    border-radius: 10px;
    background-color:  rgb(160, 157, 157);
}

.pull:after {
    content: "";
    position: absolute;
    top: 21px;
    /* right: -30px; */
    left: -30px;
    /* border-left: 30px solid #000; */
    border-right: 30px solid rgb(160, 157, 157);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#never {
    position: relative;
    left: 450px;
    /* text-align: center; */
    bottom: 100px;
    color: rgb(87, 85, 85);
}

#withdrawal {
    position: relative;
    text-align: center;
    /* justify-content : center; */
    vertical-align: middle;
    width: 100px;
    height: 30px;
    left: 780px;
    bottom: 145px;
    border-radius: 10px;
    background-color: #205A8F;
    color: #FFF;
    text-decoration: underline;
}
/* h1 {
    color: #205A8F;
}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
}

.real-upload {
    display: none;
}

.upload {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
}

.image-preview {
    width: 1300px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    gap: 20px;
}

/* 
html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
} */

/* basic setting */



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}