/* basic setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* web font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansLight';
    background-color: white;
}

/* wrapper 지정 */
#wrapper {
    width: 60%;
    margin : 5vh auto 5vh auto;
    border-spacing: 0 20px;
}

#content > div {
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    margin : 0 0 3vh 0;
}

#head {
    color:#205A8F;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#post_text {
    width: 100%;
    height:30vh;
    resize: none;
    background-color: #efefef;
    border-radius: 6px;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3a3a3a;
}

#submit_button {
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 35px;
    border : 1px solid #a8a7a7;
    color: white;
    background-color: #205A8F;
    border-radius: 8px;
    font-family: 'GmarketSansMedium';
}

#wrapper input:not(input[type='submit']) {
    width: 100% !important;
    background-color: #efefef;
    border-radius: 6px;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3a3a3a;
}